{
  "perspectives": [
    {
      "id": "admin",
      "visibility": {
        "accessReview": {
          "required": [
            {
              "group": "config.openshift.io",
              "resource": "clusteroperators",
              "verb": "list"
            }
          ]
        },
        "state": "AccessReview"
      }
    },
    {
      "id": "virtualization-perspective",
      "visibility": {
        "state": "Enabled"
      }
    },
    {
      "id": "dev",
      "visibility": {
        "state": "Disabled"
      }
    }
  ],
  "customLogoFile": {
    "name": "custom-logo",
    "key": "logo-file.png"
  }
}

